@import url("https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css");

label {
    display: inline-block;
    width: 180px;
}

input[type=radio]{
    margin-left: 1em;
}

output {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: darkgreen;
}